@model Pdi_Car_Rent.Models.CarDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentPriceForHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentPriceForHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarType)
        </dt>
@*        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarType.CarTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarRentPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carrentplace.placeid)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
